spring:
  datasource:
    url: jdbc:mysql://139.159.180.129:3306/tpl?characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
    username: root
    password: ad879037-c7a4-4063-9236-6bfc35d54b7d
    driver-class-name: com.mysql.cj.jdbc.Driver
  main:
    allow-bean-definition-overriding: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

mybatis:
  mapper-locations: classpath:com/example/springboottpl/mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
server:
  port: 6666
  servlet:
    context-path: /tpl

# 不需要拦截的url
not:
  intercept:
    urls: /tpl/user/login,/tpl/swagger-ui/index.html,/tpl/v3/api-docs,/tpl/doc.html,/tpl/v2/api-docs,/tpl/favicon.ico