<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tpl.system.dao.DictDataDao">

    <resultMap id="BaseResultMap" type="com.example.tpl.system.entity.DictDataBean">
        <result column="dict_code" property="dictCode" jdbcType="BIGINT"/>
        <result column="dict_sort" property="dictSort" jdbcType="INTEGER"/>
        <result column="dict_label" property="dictLabel" jdbcType="VARCHAR"/>
        <result column="dict_value" property="dictValue" jdbcType="VARCHAR"/>
        <result column="dict_type" property="dictType" jdbcType="VARCHAR"/>
        <result column="css_class" property="cssClass" jdbcType="VARCHAR"/>
        <result column="list_class" property="listClass" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" jdbcType="CHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
        dict_code, dict_sort, dict_label, dict_value, dict_type, css_class, list_class, is_default, status, remark,
        create_time, update_time
    </sql>

    <!--添加字典数据-->
    <insert id="addDictData" parameterType="com.example.tpl.system.entity.DictDataBean">
        insert into sys_dict_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictCode != null">
                dict_code,
            </if>
            <if test="dictSort != null">
                dict_sort,
            </if>
            <if test="dictLabel != null">
                dict_label,
            </if>
            <if test="dictValue != null">
                dict_value,
            </if>
            <if test="dictType != null">
                dict_type,
            </if>
            <if test="cssClass != null">
                css_class,
            </if>
            <if test="listClass != null">
                list_class,
            </if>
            <if test="isDefault != null">
                is_default,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictCode != null">
                #{ dictCode,jdbcType=BIGINT },
            </if>
            <if test="dictSort != null">
                #{ dictSort,jdbcType=INTEGER },
            </if>
            <if test="dictLabel != null">
                #{ dictLabel,jdbcType=VARCHAR },
            </if>
            <if test="dictValue != null">
                #{ dictValue,jdbcType=VARCHAR },
            </if>
            <if test="dictType != null">
                #{ dictType,jdbcType=VARCHAR },
            </if>
            <if test="cssClass != null">
                #{ cssClass,jdbcType=VARCHAR },
            </if>
            <if test="listClass != null">
                #{ listClass,jdbcType=VARCHAR },
            </if>
            <if test="isDefault != null">
                #{ isDefault,jdbcType=CHAR },
            </if>
            <if test="status != null">
                #{ status,jdbcType=TINYINT },
            </if>
            <if test="remark != null">
                #{ remark,jdbcType=VARCHAR },
            </if>
            <if test="createTime != null">
                #{ createTime,jdbcType=TIMESTAMP },
            </if>
            <if test="updateTime != null">
                #{ updateTime,jdbcType=TIMESTAMP },
            </if>
        </trim>
    </insert>

    <!--删除字典数据-->
    <delete id="deleteDictData">
        delete from sys_dict_data where dict_code in
        <foreach collection="list" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--更新字典数据-->
    <update id="updateDictData" parameterType="com.example.tpl.system.entity.DictDataBean">
        update sys_dict_data
        <set>
            <if test="dictCode != null">
                dict_code = #{ dictCode,jdbcType=BIGINT},
            </if>
            <if test="dictSort != null">
                dict_sort = #{ dictSort,jdbcType=INTEGER},
            </if>
            <if test="dictLabel != null">
                dict_label = #{ dictLabel,jdbcType=VARCHAR},
            </if>
            <if test="dictValue != null">
                dict_value = #{ dictValue,jdbcType=VARCHAR},
            </if>
            <if test="dictType != null">
                dict_type = #{ dictType,jdbcType=VARCHAR},
            </if>
            <if test="cssClass != null">
                css_class = #{ cssClass,jdbcType=VARCHAR},
            </if>
            <if test="listClass != null">
                list_class = #{ listClass,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                is_default = #{ isDefault,jdbcType=CHAR},
            </if>
            <if test="status != null">
                status = #{ status,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{ remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{ createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{ updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="dictCode != null">
                and dict_code = #{ dictCode}
            </if>
            <!--<if test="dictSort != null">-->
            <!--    and dict_sort = #{ dictSort}-->
            <!--</if>-->
            <!--<if test="dictLabel != null">-->
            <!--    and dict_label = #{ dictLabel}-->
            <!--</if>-->
            <!--<if test="dictValue != null">-->
            <!--    and dict_value = #{ dictValue}-->
            <!--</if>-->
            <!--<if test="dictType != null">-->
            <!--    and dict_type = #{ dictType}-->
            <!--</if>-->
            <!--<if test="cssClass != null">-->
            <!--    and css_class = #{ cssClass}-->
            <!--</if>-->
            <!--<if test="listClass != null">-->
            <!--    and list_class = #{ listClass}-->
            <!--</if>-->
            <!--<if test="isDefault != null">-->
            <!--    and is_default = #{ isDefault}-->
            <!--</if>-->
            <!--<if test="status != null">-->
            <!--    and status = #{ status}-->
            <!--</if>-->
            <!--<if test="remark != null">-->
            <!--    and remark = #{ remark}-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
            <!--    and create_time = #{ createTime}-->
            <!--</if>-->
            <!--<if test="updateTime != null">-->
            <!--    and update_time = #{ updateTime}-->
            <!--</if>-->
        </where>
    </update>

    <!--更新字典数据状态-->
    <update id="updateDictDataStatus" parameterType="com.example.tpl.system.vo.req.UpdateDictDataStatusReqVo">
        update sys_dict_data set status = #{status,jdbcType=TINYINT} where dict_code in
        <foreach collection="ids" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!--查询字典数据详情-->
    <select id="queryDictDataDetail" parameterType="com.example.tpl.system.entity.DictDataBean"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <if test="dictCode != null">
                and dict_code = #{ dictCode}
            </if>
            <!--<if test="dictSort != null">-->
            <!--    and dict_sort = #{ dictSort}-->
            <!--</if>-->
            <!--<if test="dictLabel != null">-->
            <!--    and dict_label = #{ dictLabel}-->
            <!--</if>-->
            <!--<if test="dictValue != null">-->
            <!--    and dict_value = #{ dictValue}-->
            <!--</if>-->
            <!--<if test="dictType != null">-->
            <!--    and dict_type = #{ dictType}-->
            <!--</if>-->
            <!--<if test="cssClass != null">-->
            <!--    and css_class = #{ cssClass}-->
            <!--</if>-->
            <!--<if test="listClass != null">-->
            <!--    and list_class = #{ listClass}-->
            <!--</if>-->
            <!--<if test="isDefault != null">-->
            <!--    and is_default = #{ isDefault}-->
            <!--</if>-->
            <!--<if test="status != null">-->
            <!--    and status = #{ status}-->
            <!--</if>-->
            <!--<if test="remark != null">-->
            <!--    and remark = #{ remark}-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
            <!--    and create_time = #{ createTime}-->
            <!--</if>-->
            <!--<if test="updateTime != null">-->
            <!--    and update_time = #{ updateTime}-->
            <!--</if>-->
        </where>
    </select>

    <!--根据id查询字典数据-->
    <select id="queryDictDataById" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data where dict_code = #{id}

    </select>

    <!--根据dictLabel查询字典数据-->
    <select id="queryDictDataByLabel" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data where dict_type = #{dictType} and dict_label = #{dictLabel}
    </select>

    <!--根据dictValue查询字典数据-->
    <select id="queryDictDataByValue" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data where dict_type = #{dictType} and dict_value = #{dictValue}

    </select>

    <!--根据dictType查询字典数据-->
    <select id="queryDictDataByType" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data where dict_type = #{dictType}

    </select>

    <!--查询字典数据列表-->
    <select id="queryDictDataList" parameterType="com.example.tpl.system.entity.DictDataBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <if test="dictLabel != null">
                and dict_label = #{ dictLabel}
            </if>
            <if test="dictType != null">
                and dict_type = #{ dictType}
            </if>
            <if test="status != null">
                and status = #{ status}
            </if>

        </where>
    </select>
</mapper>
