<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboottpl.dao.PostDao">

    <resultMap id="BaseResultMap" type="com.example.springboottpl.entity.PostBean">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="post_code" property="postCode" jdbcType="VARCHAR"/>
        <result column="post_name" property="postName" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <sql id="Base_Column_List">
        id, post_code, post_name, sort, status, remark, create_time, update_time
    </sql>

    <!--添加岗位信息-->
    <insert id="addPost" parameterType="com.example.springboottpl.entity.PostBean">
        insert into sys_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="postCode != null">
                post_code,
            </if>
            <if test="postName != null">
                post_name,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{ id,jdbcType=BIGINT },
            </if>
            <if test="postCode != null">
                #{ postCode,jdbcType=VARCHAR },
            </if>
            <if test="postName != null">
                #{ postName,jdbcType=VARCHAR },
            </if>
            <if test="sort != null">
                #{ sort,jdbcType=INTEGER },
            </if>
            <if test="status != null">
                #{ status,jdbcType=TINYINT },
            </if>
            <if test="remark != null">
                #{ remark,jdbcType=VARCHAR },
            </if>
            <if test="createTime != null">
                #{ createTime,jdbcType=TIMESTAMP },
            </if>
            <if test="updateTime != null">
                #{ updateTime,jdbcType=TIMESTAMP },
            </if>
        </trim>
    </insert>

    <!--删除岗位信息-->
    <delete id="deletePost">
        delete from sys_post where id in
        <foreach collection="list" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--更新岗位信息-->
    <update id="updatePost" parameterType="com.example.springboottpl.entity.PostBean">
        update sys_post
        <set>
            <if test="id != null">
                id = #{ id,jdbcType=BIGINT},
            </if>
            <if test="postCode != null">
                post_code = #{ postCode,jdbcType=VARCHAR},
            </if>
            <if test="postName != null">
                post_name = #{ postName,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{ sort,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{ status,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{ remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{ createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{ updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </update>

    <!--更新岗位信息状态-->
    <update id="updatePostStatus" parameterType="com.example.springboottpl.vo.req.UpdatePostStatusReqVo">
        update sys_post set status = #{status,jdbcType=TINYINT} where id in
        <foreach collection="ids" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!--查询岗位信息详情-->
    <select id="queryPostDetail" parameterType="com.example.springboottpl.entity.PostBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            <if test="id != null">
                and id = #{ id}
            </if>
            <!--<if test="postCode != null">-->
            <!--    and post_code = #{ postCode}-->
            <!--</if>-->
            <!--<if test="postName != null">-->
            <!--    and post_name = #{ postName}-->
            <!--</if>-->
            <!--<if test="sort != null">-->
            <!--    and sort = #{ sort}-->
            <!--</if>-->
            <!--<if test="status != null">-->
            <!--    and status = #{ status}-->
            <!--</if>-->
            <!--<if test="remark != null">-->
            <!--    and remark = #{ remark}-->
            <!--</if>-->
            <!--<if test="createTime != null">-->
            <!--    and create_time = #{ createTime}-->
            <!--</if>-->
            <!--<if test="updateTime != null">-->
            <!--    and update_time = #{ updateTime}-->
            <!--</if>-->
        </where>
    </select>

    <!--根据id查询岗位信息-->
    <select id="queryPostById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_post where id = #{id}
    </select>

    <!--根据postCode查询岗位信息-->
    <select id="queryPostByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_post where post_code = #{postCode}
    </select>

    <!--根据postName查询岗位信息-->
    <select id="queryPostByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_post where post_name = #{postName}
    </select>

    <!--查询岗位信息列表-->
    <select id="queryPostList" parameterType="com.example.springboottpl.entity.PostBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_post
        <where>
            <if test="postCode != null">
                and post_code = #{ postCode}
            </if>
            <if test="postName != null">
                and post_name = #{ postName}
            </if>
            <if test="status != null">
                and status = #{ status}
            </if>
        </where>
    </select>

    <!--通过岗位id查询岗位使用数量-->
    <select id="countUserPostById" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(1) from sys_user_post where post_id = #{id}
    </select>
</mapper>
