<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.springboottpl.dao.UserPostDao">

    <resultMap id="BaseResultMap" type="com.example.springboottpl.entity.UserPostBean">
      <result column="user_id" property="userId" jdbcType="BIGINT"/>
      <result column="post_id" property="postId" jdbcType="BIGINT"/>
    
    </resultMap>

    <sql id="Base_Column_List">
        user_id, post_id
    </sql>

    <insert id="addUserPost" parameterType="com.example.springboottpl.entity.UserPostBean">
        insert into sys_user_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="postId != null">
                post_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{ userId,jdbcType=BIGINT },
            </if>
            <if test="postId != null">
                #{ postId,jdbcType=BIGINT },
            </if>
        </trim>
    </insert>

    <delete id="deleteUserPost">
        delete from sys_user_post where id in
        <foreach collection="list" item="id" index="index"
            open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateUserPost" parameterType="com.example.springboottpl.entity.UserPostBean">
        update sys_user_post
        <set>
            <if test="userId != null">
                user_id = #{ userId,jdbcType=BIGINT},
            </if>
            <if test="postId != null">
                post_id = #{ postId,jdbcType=BIGINT},
            </if>
        </set>
        <where> 
            <if test="userId != null">
                and user_id = #{ userId}
            </if>
            <if test="postId != null">
                and post_id = #{ postId}
            </if>
        </where>
    </update>

    <update id="updateUserPostStatus" parameterType="com.example.springboottpl.entity.UserPostBean">
        update sys_user_post
        <set>
            <if test="userId != null">
                user_id = #{ userId,jdbcType=BIGINT},
            </if>
            <if test="postId != null">
                post_id = #{ postId,jdbcType=BIGINT},
            </if>
        </set>
        <where> 
            <if test="userId != null">
                and user_id = #{ userId}
            </if>
            <if test="postId != null">
                and post_id = #{ postId}
            </if>
        </where>
    </update>

    <select id="queryUserPostDetail" parameterType="com.example.springboottpl.entity.UserPostBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_post
        <where>
        <!--<if test="userId != null">-->
        <!--    and user_id = #{ userId}-->
        <!--</if>-->
        <!--<if test="postId != null">-->
        <!--    and post_id = #{ postId}-->
        <!--</if>-->
        </where>
    </select>

    <select id="queryUserPostList" parameterType="com.example.springboottpl.entity.UserPostBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_post
        <where>
          <!--<if test="userId != null">-->
          <!--    and user_id = #{ userId}-->
          <!--</if>-->
          <!--<if test="postId != null">-->
          <!--    and post_id = #{ postId}-->
          <!--</if>-->
        </where>
    </select>
</mapper>
