<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.springboottpl.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.example.springboottpl.entity.UserBean">
      <result column="id" property="id" jdbcType="BIGINT"/>
      <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
      <result column="user_name" property="userName" jdbcType="VARCHAR"/>
      <result column="password" property="password" jdbcType="VARCHAR"/>
      <result column="status_id" property="statusId" jdbcType="INTEGER"/>
      <result column="sort" property="sort" jdbcType="INTEGER"/>
      <result column="remark" property="remark" jdbcType="VARCHAR"/>
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    
    </resultMap>

    <resultMap id="MenuResultMap" type="com.example.springboottpl.entity.MenuBean">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="menu_name" property="menuName" jdbcType="VARCHAR"/>
        <result column="menu_type" property="menuType" jdbcType="TINYINT"/>
        <result column="status_id" property="statusId" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="api_url" property="apiUrl" jdbcType="VARCHAR"/>
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>


    <resultMap id="RoleResultMap" type="com.example.springboottpl.entity.RoleBean">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="status_id" property="statusId" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>
    <sql id="Base_Column_List">
        id, mobile, user_name, password, status_id, sort, remark, create_time, update_time
    </sql>

    <insert id="saveUser" parameterType="com.example.springboottpl.entity.UserBean">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="statusId != null">
                status_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{ id,jdbcType=BIGINT },
            </if>
            <if test="mobile != null">
                #{ mobile,jdbcType=VARCHAR },
            </if>
            <if test="userName != null">
                #{ userName,jdbcType=VARCHAR },
            </if>
            <if test="password != null">
                #{ password,jdbcType=VARCHAR },
            </if>
            <if test="statusId != null">
                #{ statusId,jdbcType=INTEGER },
            </if>
            <if test="sort != null">
                #{ sort,jdbcType=INTEGER },
            </if>
            <if test="remark != null">
                #{ remark,jdbcType=VARCHAR },
            </if>
            <if test="createTime != null">
                #{ createTime,jdbcType=TIMESTAMP },
            </if>
            <if test="updateTime != null">
                #{ updateTime,jdbcType=TIMESTAMP },
            </if>
        </trim>
    </insert>

    <delete id="deleteUser">
        delete from sys_user where id in
        <foreach collection="list" item="id" index="index"
            open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateUser" parameterType="com.example.springboottpl.entity.UserBean">
        update sys_user
        <set>
            <if test="id != null">
                id = #{ id,jdbcType=BIGINT},
            </if>
            <if test="mobile != null">
                mobile = #{ mobile,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{ userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{ password,jdbcType=VARCHAR},
            </if>
            <if test="statusId != null">
                status_id = #{ statusId,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{ sort,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{ remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{ createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{ updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where> 
            <if test="id != null">
                and id = #{ id}
            </if>
<!--            <if test="mobile != null">-->
<!--                and mobile = #{ mobile}-->
<!--            </if>-->
<!--            <if test="userName != null">-->
<!--                and user_name = #{ userName}-->
<!--            </if>-->
<!--            <if test="password != null">-->
<!--                and password = #{ password}-->
<!--            </if>-->
<!--            <if test="statusId != null">-->
<!--                and status_id = #{ statusId}-->
<!--            </if>-->
<!--            <if test="sort != null">-->
<!--                and sort = #{ sort}-->
<!--            </if>-->
<!--            <if test="remark != null">-->
<!--                and remark = #{ remark}-->
<!--            </if>-->
<!--            <if test="createTime != null">-->
<!--                and create_time = #{ createTime}-->
<!--            </if>-->
<!--            <if test="updateTime != null">-->
<!--                and update_time = #{ updateTime}-->
<!--            </if>-->
        </where>
    </update>

    <select id="queryUser" parameterType="com.example.springboottpl.entity.UserBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
        <if test="id != null">
            and id = #{ id}
        </if>
        <if test="mobile != null">
            and mobile = #{ mobile}
        </if>
        <!--<if test="userName != null">-->
        <!--    and user_name = #{ userName}-->
        <!--</if>-->
        <!--<if test="password != null">-->
        <!--    and password = #{ password}-->
        <!--</if>-->
        <!--<if test="statusId != null">-->
        <!--    and status_id = #{ statusId}-->
        <!--</if>-->
        <!--<if test="sort != null">-->
        <!--    and sort = #{ sort}-->
        <!--</if>-->
        <!--<if test="remark != null">-->
        <!--    and remark = #{ remark}-->
        <!--</if>-->
        <!--<if test="createTime != null">-->
        <!--    and create_time = #{ createTime}-->
        <!--</if>-->
        <!--<if test="updateTime != null">-->
        <!--    and update_time = #{ updateTime}-->
        <!--</if>-->
        </where>
    </select>

    <select id="queryUserList" parameterType="com.example.springboottpl.entity.UserBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
          <!--<if test="id != null">-->
          <!--    and id = #{ id}-->
          <!--</if>-->
          <if test="mobile != null">
              and mobile = #{ mobile}
          </if>
          <if test="userName != null">
              and user_name = #{ userName}
          </if>
          <!--<if test="password != null">-->
          <!--    and password = #{ password}-->
          <!--</if>-->
          <if test="statusId != null">
              and status_id = #{ statusId}
          </if>
          <!--<if test="sort != null">-->
          <!--    and sort = #{ sort}-->
          <!--</if>-->
          <!--<if test="remark != null">-->
          <!--    and remark = #{ remark}-->
          <!--</if>-->
          <!--<if test="createTime != null">-->
          <!--    and create_time = #{ createTime}-->
          <!--</if>-->
          <!--<if test="updateTime != null">-->
          <!--    and update_time = #{ updateTime}-->
          <!--</if>-->
        </where>
    </select>

    <select id="queryUserMenus" resultMap="MenuResultMap">
        select distinct u.*
        from sys_user_role t
        left join sys_role usr on t.role_id = usr.id
        left join sys_role_menu usrm on usr.id = usrm.role_id
        left join sys_menu u on usrm.menu_id = u.id
        where t.user_id = #{userId} and u.menu_name is not null
        order by u.sort asc
    </select>

    <select id="queryUserRoles" resultMap="RoleResultMap">
        select distinct usr.*
        from sys_user_role t
        left join sys_role usr on t.role_id = usr.id
        where t.user_id = #{userId}
    </select>
</mapper>
