<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring-boot-tpl" type="DEPLOY_HOST_RUN_CONFIGURATION" factoryName="Deploy to Host">
    <option name="accountModel" />
    <option name="accountModels" />
    <option name="address" />
    <option name="afterCommand" value="./app.sh restart" />
    <option name="alreadyReset" value="true" />
    <option name="autoOpen" value="false" />
    <option name="beforeCommand" value="" />
    <option name="defaultTabIdx" value="0" />
    <option name="ecsInstance">
      <EcsInstance>
        <option name="OSType" />
        <option name="instanceId" />
        <option name="instanceName" />
        <option name="netType" />
        <option name="privateIps" />
        <option name="publicIps" />
        <option name="regionId" />
        <option name="tags" />
      </EcsInstance>
    </option>
    <option name="ecsInstances" />
    <option name="hostIds">
      <list>
        <option value="22" />
      </list>
    </option>
    <option name="hostTagId" value="0" />
    <option name="location" value="/root/tpl" />
    <option name="pathOrUrl" value="D:\workspace\java\spring-boot-tpl\target\spring-boot-tpl-0.0.1-SNAPSHOT.jar" />
    <option name="tagId" value="0" />
    <option name="terminalCommand" />
    <option name="type" value="HOST" />
    <option name="uploadType" value="MAVEN" />
    <method v="2">
      <option name="Maven.BeforeRunTask" enabled="true" file="$PROJECT_DIR$/../spring-boot-tpl\pom.xml" goal="clean install" />
    </method>
  </configuration>
</component>